
body {
    font-family: Arial, sans-serif;
}


.menu-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}


.site-title {
    color: black;
    font-size: 20px;
    text-decoration: none;
}


.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 30px;
    height: 25px;
    padding: 0;
    justify-content: space-between;
    margin-left: auto; 
}


.bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}


.me {
    display: none; /* Oculta o menu por padrão */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.me.active {
    display: flex; /* Mostra o menu quando a classe "active" for adicionada */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}



.navbar-nav {
    display: flex; 
    list-style-type: none;
    padding: 0;
    justify-content: center; 
}

.navbar-nav li {
    margin: 0 10px; 
}

.navbar-nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-nav li a:hover {
    background-color: #007BFF;
    padding: 8px 12px;
    border-radius: 5px; 
    color:white;
}




.heading {
    text-align: center;
}
.nav-item{
    text-align:center;
}

.article-front{
    text-align: center;
}
.site-title {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.barra-navegacao{
    background:#e8e8e8;
    border-radius:15px;
    padding:10px;
}
