<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60); display: flex; justify-content: center; align-items: center; height: 50vh;">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="color:black;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);">
		<form action="http://localhost:8000/wp-admin/admin-post.php" method="POST">
			<label style='font-size:50px;'>Procurar por KeyName</label><br>
			<label style='font-size:20px;'>all | goals | assists | cards | player | minutes | names | rank</label><br>
			<input style='padding:10px;font-size:25px;height: 50px;width: 495px;' name="player" placeholder='Nome do Player'></input><br></br>
			<button style='padding:10px;background-color:blue;color:white;border-radius:10px;height: 50px;width: 498px;' type='submit'>Submit</button>
		</form>
	</div>
	<!-- /wp:group -->
</main>
<style>
	input::placeholder {
	  font-size: 25px; 
	  color: gray; 
	}
  </style>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
